<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>


<hr>

<h2>Add a new post </h2>
<form action="/insert_post" method="post">

<div>
<label for="title_field">Title</label>
<input id= "title_field" type="text" name="title">
</div>

<div>
<label for="body"_field">Body</label>
<textarea name="body" id="body_field" cols="30" rows="10"></textarea>
</div>

<div>
<label for="expires_on_field">Expires on</label>
<input id= "expires_on_field" type="date" name="expires_on">
</div>

<button>Add post</button>
</form>

<div>
  <div>
    <h2>
      Edit board
    </h2>

    <form action="/modify_board/<%= @the_board.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_board.name %>">
      </div>

      <button>
        Update board
      </button>
    </form>
  </div>
</div>

<hr>
